<div class="add-user-form">
    <label for="name">Name:</label>
    <input type="text" id="name">
    <label for="age">Age:</label>
    <input type="text" id="age">
    <button>Add User</button>
  </div>